.board {
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}

.account_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.board__writer{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.account_info{
    margin-right: 160px;
    font-family: 'Public Sans', sans-serif;
}

.account_info .account_name{
    margin: 5px 0;
    font-size: 10px;
}

.account_info .timestamp{
    font-size: 7px;
    opacity: 0.5;
}

.board .board__img{
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.board .board__bottom{
    display: flex;
    justify-content: start;
}

.fa-heart{
    margin-left: 10px;
}

.board__bottom .number{
    font-size: 12px;
    font-family: 'Public Sans', sans-serif;
}

.board__bottom .heart{
    margin-right: 25px;
}

.board__bottom .comment{
    margin-right: 120px;
}
