.board {
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account_image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.board__writer{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.account_info{
    margin-right: 160px;
    font-family: 'Public Sans', sans-serif;
}

.account_info .account_name{
    margin-top: 10px;
    font-size: 10px;
}

.account_info .timestamp{
    font-size: 7px;
    opacity: 0.5;
}

.board .board__img{
    height: 280px;
    width: 280px;
    border-radius: 20px;
}