.friends{
    margin-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-around;
}

.friend .image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),
     0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
}

.friends .friend{
    margin: 0px 10px;
}