@import "reset.css";
@import "instogrim.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "friends";

.background-box{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-box .sand-color-box{
    position: relative;
    box-sizing: border-box;
    background-color: #B7B51B;
    height: 800px;
    width: 360px;
    padding-top: 90px;
    padding-left: 40px;
}

.background-box .gray-color-box{
    position: relative;
    box-sizing: border-box;
    background-color: #EDF0F6;
    height: 800px;
    width: 720px;
}

.sand__dots-container .dots{
    display: flex;
}

.sand__dots-container .dot{
    background-color: #CFD6C6;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 7px;
}

.gray__dots-container .dots{
    display: flex;
    
}

.gray__dots-container .dot{
    background-color: #CEDAE7;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 7px;
}

.gray__dots-container{
    position: absolute;
    bottom: 0px;
    right: 60px;
}