.sand-color-box .instogrim{
    position: absolute;
    box-sizing: border-box;
    height: 500px;
    width: 300px;
    top: 60px;
    left: 164px;
    border: 8px solid #15083A;
    border-radius: 8%;
    z-index: 1;
}

.gray-color-box .instogrim{
    position: absolute;
    box-sizing: border-box;
    height: 500px;
    width: 300px;
    top: 60px;
    right: 164px;
    border: 8px solid #15083A;
    border-radius: 8%;
    z-index: 1;
}